body{
	//background-image:url('../img/cobalt.jpg');
	background-color:#ddd;
	font-family: Georgia, sans-serif;
}
.nav
{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul
{
  background-color: #808080;
  text-align: center;
  position:relative;
  top:-17px;

}
.nav li{

font-weight: normal;
  font-size: 1.0em;
  display: inline;
  border-bottom: 1px solid #888;
  display: inline;
}

		
.nav a {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;    
  text-decoration: none;
  color: #fff;
  display:inline-block;
  transition: .3s background-color;
  line-height: 40px;
  width: 10%;
}
 
.nav a:hover {
  background-color: #A4FFA4;
  color: #FC4507;
}
 
.nav a.active {
  background-color: #fff;
  color: #C1F4FF;
  cursor: default;
}
.topBanner{ 
		height:35px; 
		width:100%; 
		margin:0; 
		background:#808080; 
		position:fixed;
		top:0;
		left:0;
		}
		
.container
{
width:65%;
background-color:#C1F4FF;
border-radius:10px;
box-shadow: 0 0 1em #666;
margin:0 auto;
padding:10px;
}
.contact{
margin-top:100px;
}
.main{
	margin-top:100px;
}
.engage{
	height:450px;
}
.story{
	height:200px;
}
.bride_groom{
	position:relative;
	top:500px;
		width:60%;
		margin:0 auto;
		background-color:white;
		border-radius:5px;
}
.bride
{
	width:45%;
		float:right; border:1px solid #ddd;
		padding:10px;background-color:white;border-radius:5px; 	box-shadow: 0 0 1em #666;
}
.groom
{
	width:45%;border:1px solid #ddd;
		float:left;background-color:white;
		padding:10px; border-radius:5px;	box-shadow: 0 0 1em #666;
}
table{
	margin:0 auto;
	width:100%;
}
h1{
  font-family: 'Great Vibes', Helvetica, sans-serif;
font-size:40px; color: #fff; 
	//text-shadow:2px 2px #222;
}
h2 {
  font-family: 'Great Vibes', Helvetica, sans-serif;
font-size:32px;color: #fff; 
}
h3{
 font-family: 'Great Vibes', Helvetica, sans-serif;
font-size:24px; color: #fff; 
}
h4{
 font-family: 'Great Vibes', Helvetica, sans-serif;
font-size:20px;
  color: #222; 
}

.countdown{
	width:75px;
	height:75px;
	border:2px solid #808080;
}
